/*-- GENERAL --*/
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

/*-- VARIABLES --*/
$primary-color : #901c1c;
$secondary-color: #d3573c;
$secondary-background: #db8876;
$font-gray: #525252;
$background-gray: #fafafa;

/*-- MIXINS --*/
@mixin flex ($flex: flex, $flex-direction: row, $justify-content: center, $align-items: center, $flex-wrap: nowrap) {
    display: $flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

body { margin: 3rem 5rem 0; }
a { text-decoration: none; }
ul { list-style: none; }
h1 {
    font-size: 2.1rem; font-weight: 400;
    color: $primary-color;
}

/*-- HEADER --*/
.header {
    @include flex(inline-flex, row, space-between, center, wrap);
    width: 68%;

    &__logo-container {
        img {
            width: 200px; height: 50px;
            margin: 0 15px;
        }
    }

    &__button {
        visibility: hidden;
        position: absolute;
        top: 5px; left: 50vw;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        padding: .4rem .8rem;
        background-color: $secondary-background;
        font-size: 1.1rem; font-weight: 700;
        border: none; border-radius: 5px;
        transition: visibility 2s;
    }

    .sticky { 
        position: fixed;
        animation: fade-in 0.6s ease-in-out forwards;

        @keyframes fade-in {
            from { visibility: hidden;
                   opacity: 0; }
        
            to { visibility: visible;
                 opacity: 1; }
        }
    }

    &__nav {
        margin: 15px 0;
        .photographer_tags {
            @include flex(flex, row, center, center, nowrap);

            & li {
                margin: 0 5px; padding: 4px 7px;
                font-size: 0.75rem; font-weight: 500;
                color: $primary-color;
                border: 0.5px solid #c4c4c4; border-radius: 15px;
            }
        }
    }
}

#main-title { 
    position: absolute;
    top: 3.3rem; right: 7rem;
}

#test { height: 900px; }