/*-- GENERAL --*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

/*-- VARIABLES --*/
/*-- MIXINS --*/
body {
  margin: 2.7rem 4.6rem 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.1rem;
  font-weight: 400;
  color: #901c1c;
}

/*-- HEADER --*/
.header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 66%;
  max-width: 900px;
  /*-- NAV --*/
}

.header__logo-container {
  width: 200px;
  height: 63px;
  margin: 0 15px 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  visibility: hidden;
  position: absolute;
  top: 5px;
  left: 50vw;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  padding: .4rem .8rem;
  background-color: #db8876;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  -webkit-transition: visibility 2s;
  transition: visibility 2s;
}

.header .sticky {
  position: fixed;
  -webkit-animation: fade-in 0.6s ease-in-out forwards;
          animation: fade-in 0.6s ease-in-out forwards;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.header__nav {
  margin: 15px 0;
}

.header__nav .photographer_tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 2.1;
}

.tag {
  margin: 0 3px;
  padding: 4px 7px;
  font-size: 0.7rem;
  font-weight: 500;
  cursor: pointer;
  color: #901c1c;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.tag:hover,
.tag:focus {
  color: #fff;
  background-color: #901c1c;
  border: 1px solid transparent;
}

/*-- HEADER MEDIA QUERY --*/
@media screen and (max-width: 1365px) {
  .header {
    width: 100%;
    max-width: 100%;
  }
  .header__logo-container {
    margin-right: 80%;
  }
  .header nav {
    width: 100%;
  }
}

/*-- MAIN CONTENT--*/
#main-title {
  position: absolute;
  top: 3.4rem;
  right: 8rem;
}

#main-grid {
  margin: 5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.photographer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
}

.photographer__section:nth-child(3n - 2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.photographer__section:nth-child(3n - 3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.photographer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 300px;
}

.photographer__img {
  width: 200px;
  height: 200px;
  margin: 1rem 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.photographer__name {
  font-size: 2.1rem;
  color: #d3573c;
}

.photographer__location {
  font-size: 0.9rem;
  padding-bottom: 0.2rem;
  color: #901c1c;
}

.photographer__tagline {
  font-size: 0.7rem;
  color: #181818;
}

.photographer__price {
  font-size: 0.6rem;
  padding: 0.2rem 0 0.4rem;
  color: #757575;
}

.photographer__taglist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=style.css.map */