/*-- VARIABLES --*/
$primary-color : #901c1c;
$secondary-color: #d3573c;
$secondary-background: #db8876;
$font-gray: #525252;
$background-gray: #fafafa;
$price-color: rgba(117, 117, 117, 1);
$font-black: rgb(24, 24, 24); // Regular black color is too saturated for screens

/*-- MIXINS --*/
@mixin flex ($flex: flex, $flex-direction: row, $justify-content: center, $align-items: center, $flex-wrap: nowrap) {
    display: $flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

@mixin active-tag {
    color: #fff;
    background-color: $primary-color;
    border: 1px solid transparent;
}

@mixin screen-reader-only {
    position: absolute;
    width: 1px; height: 1px;
    padding: 0; margin: -1px;
    overflow: hidden;
    white-space: nowrap; 
    border: 0;
}

/*-- GENERAL --*/
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}
*:focus { outline-color: $primary-color; }

body { 
    margin: 2.7rem 4.6rem 1rem;
    @include flex(flex, column, center, center, nowrap);
}
a { text-decoration: none; }
ul { list-style: none; }
h1 {
    font-size: 2.1rem; font-weight: 400;
    color: $primary-color;
}

/*-- HEADER --*/
.header {
    @include flex(inline-flex, row, space-between, center, wrap);
    width: 67%; max-width: 900px;
    align-self: flex-start;

    &__logo-container {
        width: 200px; height: 63px;
        margin: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        visibility: hidden;
        position: absolute;
        top: 5px; left: 50vw;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        padding: .4rem .8rem;
        color: $font-black;
        background-color: $secondary-background;
        font-size: 1.1rem; font-weight: 700;
        border: none; border-radius: 5px;
        transition: visibility 2s;
    }

    .sticky { 
        position: fixed;
        animation: fade-in .6s ease-in-out forwards;

        @keyframes fade-in {
            from { visibility: hidden;
                   opacity: 0; }
        
            to { visibility: visible;
                 opacity: 1; }
        }
    }
    .sticky:active,
    .sticky:focus { 
        font-size: 1.15rem;
        color: #fafafa;
    }

    /*-- NAV --*/
    &__nav {
        margin: 15px 0;

        .photographer_tags-list { @include flex(flex, row, center, center, wrap); }
    }
}

.tag {
    margin: 0 3px; padding: 4px 7px;
    font-size: .75rem; font-weight: 500;
    color: $primary-color;
    border: 1px solid #c4c4c4; border-radius: 15px;
    transition: .2s ease-in-out;
}

.tag:hover,
.tag:focus,
.active-tag { @include active-tag(); }

.screen-reader-only {
    @include screen-reader-only();
}

/*-- MAIN CONTENT--*/
#main-title { 
    position: absolute;
    top: 3.4rem; right: 7.5rem;
}

#main-grid {
    margin: 4.5rem 0;
    @include flex(flex, row, space-between, center, wrap);
    gap: 5rem;
    max-width: 1430px;
}

.photographer {
    &__section { 
        @include flex(flex, column, center, center, wrap);
        width: fit-content; min-width: 300px;
    }

    &__link-container { @include flex(flex, column, center, center, nowrap); 
    min-width: 300px;}
    
    &__img {
        width: 200px; height: 200px;
        margin: 1rem 0;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    }

    &__name {
        font-size: 2.1rem;
        font-weight: 400;
        color: $secondary-color;
    }

    &__location {
        font-size: .9rem;
        padding-bottom: .2rem;
        color: $primary-color;
    }

    &__tagline {
        font-size: .7rem;
        color: $font-black;
    }

    &__price {
        font-size: .6rem;
        padding: .2rem 0 .5rem;
        color: $price-color;
    }

    &__taglist {
        @include flex(flex, row, flex-start, center, wrap)
    }
}

/*--  PHOTOGRAPHER PAGE --*/
.photographer-banner {
    background-color: $background-gray;
    border-radius: 5px;

    .contact-button  {
        padding: 1.4rem 1.2rem;
        font-size: 1.15rem;
        font-weight: 700;
        color: #fafafa;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
    }
}

/*--  MEDIA QUERIES --*/
@media screen and (max-width: 1365px){
    .header {
        width: 100%; max-width: 100%;

        &__logo-container { margin-right: 80%; }

        nav { width: 100%; }
    }
}

@media screen and (max-width: 1265px){
    #main-grid { justify-content: space-evenly; }
}

@media screen and (max-width: 768px) {
    body { margin: 2.2rem 1.5rem 1rem; }

    #main-title { right: 2rem; top: 2.9rem; }

    .header__link { display: none; }
}

@media screen and (max-width: 680px) {
    #main-grid { margin: 1.5rem 0; }

    .header__nav{ line-height: 2.5; }
}

@media screen and (max-width: 625px) {
    #main-title { 
        font-size: 1.5rem;
        top: 3.2rem;
    }

    .header__logo-container img { width: 160px; height: 53px; }
}

@media screen and (max-width: 475px) {
    body { margin: 2.2rem 0 1rem; }
    
    #main-title { 
        font-size: .9rem;
        top: 3.6rem;
    }

    .header {
        padding: 0 1rem;

        &__logo-container img { width: 150px; height: 37px; }
    }
}

@media screen and (max-width: 374px) {
    body { margin: 1.2rem 0 1rem; }

    .header { 
        height: 200px;
        padding: 0;

        &__logo-container { margin: 0; }
    }

    #main-title { top: 5.4rem; left: 1.7rem; }
}

.hidden { display: none; }