/*-- VARIABLES --*/
/*-- MIXINS --*/
/*-- GENERAL --*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

*:focus {
  outline-color: #901c1c;
}

body {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2.7rem 4.6rem 1rem;
}

main {
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.1rem;
  font-weight: 400;
  color: #901c1c;
}

#page-wrapper {
  position: relative;
}

/*-- HEADER --*/
.header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 67%;
  max-width: 900px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  /*-- NAV --*/
}

.header__logo-container {
  width: 200px;
  height: 63px;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 50vw;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  padding: .4rem .8rem;
  color: #181818;
  background-color: #db8876;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  -webkit-transition: visibility 2s;
  transition: visibility 2s;
}

.header .sticky {
  position: fixed;
  visibility: visible;
  -webkit-animation: fade-in .6s ease-in-out forwards;
          animation: fade-in .6s ease-in-out forwards;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.header .sticky:active,
.header .sticky:focus {
  font-size: 1.15rem;
  color: #fafafa;
}

.header__nav {
  margin: 15px 0;
}

.header__nav .photographer_tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tag {
  margin: 0 3px;
  padding: 4px 7px;
  font-size: .75rem;
  font-weight: 500;
  color: #901c1c;
  cursor: pointer;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.tag:hover,
.tag:focus,
.active-tag {
  color: #fff;
  background-color: #901c1c;
  border: 1px solid transparent;
}

.tag:hover a,
.tag:focus a,
.active-tag a {
  color: #fff;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

/*-- MAIN CONTENT--*/
#main-title {
  position: absolute;
  top: -3.2rem;
  right: 2.7rem;
}

#main-grid {
  margin: 0 auto;
  padding: 4.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
  row-gap: 5rem;
  max-width: 1430px;
}

.photographer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 280px;
}

.photographer__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 280px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.photographer__link-container:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.photographer__img {
  width: 200px;
  height: 200px;
  margin: 1rem 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.photographer__name {
  font-size: 2.1rem;
  font-weight: 400;
  color: #d3573c;
  text-align: center;
}

.photographer__location {
  font-size: .9rem;
  padding-bottom: .2rem;
  color: #901c1c;
}

.photographer__tagline {
  font-size: .7rem;
  color: #181818;
}

.photographer__price {
  font-size: .6rem;
  padding: .2rem 0 .5rem;
  color: #757575;
}

.photographer__taglist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*--  PHOTOGRAPHER PAGE --*/
/*--  PHOTOGRAPHER BANNER --*/
.photographer-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2.2rem 0 .4rem;
  padding: 2rem 2.5rem;
  background-color: #fafafa;
  border: none;
  border-radius: 5px;
  -webkit-animation: fade-in 1.5s forwards;
          animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.photographer-banner__name-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 2rem .3rem 0;
}

.photographer-banner__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.photographer-banner__img-container img {
  margin: 1rem;
}

.contact-button__container {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-right: auto;
}

.contact-button__container .contact-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1.3rem;
  padding: 1.4rem 1.2rem;
  font-size: 1.15rem;
  font-weight: 700;
  cursor: pointer;
  color: #fafafa;
  background-color: #901c1c;
  border: none;
  border-radius: 5px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.contact-button__container .contact-button:hover,
.contact-button__container .contact-button:focus {
  color: #181818;
  background-color: #db8876;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

/*--  PHOTOGRAPHER BANNER - NAME BLOCK --*/
.name-block__name {
  font-size: 4rem;
  color: #d3573c;
}

.name-block__location {
  font-size: 1.5rem;
  color: #901c1c;
}

.name-block__tagline {
  font-size: 1.1rem;
  padding-top: 1.3rem;
  color: #525252;
}

.name-block__taglist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -5px;
  padding-top: 1.7rem;
  line-height: 2;
}

.name-block__taglist a {
  font-size: 1rem;
}

/*--  CONTACT MODAL --*/
#modal-background {
  position: fixed;
  overflow: scroll;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c4c4c460;
}

#modal-padding {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 2rem;
}

.opened__contact-modal {
  position: relative;
  z-index: 1000;
  margin: 0 auto;
  padding: 1.3rem 2.3rem;
  width: 670px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #db8876;
  border: none;
  border-radius: 5px;
}

.opened__contact-modal #modal__contact-me,
.opened__contact-modal #modal__name {
  display: inline-block;
  font-size: 3.8rem;
  line-height: 1.1;
  color: #181818;
}

.opened__contact-modal #modal__name {
  padding-bottom: 1.8rem;
}

.opened__contact-modal .modal__label {
  font-size: 2rem;
  color: #312e2e;
}

.opened__contact-modal .modal__input {
  border: none;
  border-radius: 5px;
  margin: .3rem 0;
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
}

.opened__contact-modal .invalid-message {
  width: 100%;
  color: #6f0101;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: .5rem;
  padding: .6rem 0;
  border-top: 2px solid #6f0101;
}

.opened__contact-modal #user-msg {
  height: 170px;
}

.opened__contact-modal #close-modal {
  width: 42px;
  height: 42px;
  position: absolute;
  cursor: pointer;
  background: none;
  border: none;
  top: 2rem;
  right: 2rem;
}

.opened__contact-modal #submit-button {
  margin: 1rem 0;
  padding: 1.3rem 3rem;
  font-size: 1.15rem;
  font-weight: 700;
  cursor: pointer;
  color: #fafafa;
  background-color: #901c1c;
  border: none;
  border-radius: 5px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.opened__contact-modal #submit-button:hover,
.opened__contact-modal #submit-button:focus {
  color: #181818;
  background-color: #fafafa;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

/*--  MODAL VALIDATION MESSAGE --*/
#validation__dialog {
  position: relative;
  max-width: 550px;
  border: none;
  border-radius: 5px;
  padding: 2rem;
  background-color: #db8876;
}

#validation__close {
  position: absolute;
  width: 42px;
  height: 42px;
  right: 2rem;
  cursor: pointer;
  background: none;
  border: none;
}

#validation__message {
  padding: 5rem 3rem 3rem;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

#validation__confirm-button {
  display: block;
  margin: 0 auto;
  padding: 1.2rem 2.5rem;
  font-size: 1.15rem;
  font-weight: 700;
  cursor: pointer;
  color: #fafafa;
  background-color: #901c1c;
  border: none;
  border-radius: 5px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#validation__confirm-button:hover {
  color: #181818;
  background-color: #fff;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/*--  ORDER BY --*/
#order-by__section {
  position: relative;
  z-index: 2;
  margin: 1rem 0 5rem;
}

#order-by__container {
  display: inline-block;
  position: absolute;
  border: none;
  border-radius: 5px;
  min-width: 165px;
  padding: 1rem;
  background-color: #901c1c;
}

#order-by__container a, #order-by__container #order-by__selected {
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
}

#order-by__title {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #181818;
}

#order-by__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#order-by__selected {
  padding: .2rem 0;
}

#order-by__img-container {
  margin-left: .7rem;
}

.order-by__options {
  display: none;
}

.order-by__options .option {
  width: 100%;
  padding-top: .9rem;
  margin-top: .9rem;
  border-top: 1px solid #fff;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-animation: slide-down .4s ease-in-out forwards;
          animation: slide-down .4s ease-in-out forwards;
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*--  MEDIA GALLERY --*/
#media-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 1.5rem 0 3.5rem;
  gap: 1.8rem;
}

.media {
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.media:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.media__container {
  width: 350px;
  cursor: pointer;
  -webkit-animation: fade-in 2s forwards;
          animation: fade-in 2s forwards;
  -webkit-tap-highlight-color: transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.media__description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  line-height: 1.6;
  color: #901c1c;
}

.media__title {
  max-width: 80%;
  font-size: 1.3rem;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media__likes {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.media__likes .icon {
  font-size: 1.03rem;
}

.media__likes .empty {
  color: transparent;
  -webkit-text-stroke-width: 1.45px;
  -webkit-text-stroke-color: #901c1c;
}

.media__likes .full {
  color: #901c1c;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: none;
  -webkit-animation: heart-fill .5s ease-in-out forwards;
          animation: heart-fill .5s ease-in-out forwards;
}

@-webkit-keyframes heart-fill {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heart-fill {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.media__likes .likes {
  padding-right: 1.4rem;
  font-size: 1.2rem;
}

.heart {
  position: absolute;
  top: .1rem;
  right: 0;
  cursor: pointer;
}

/*--  LIGHTBOX --*/
.lightbox-container {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #fff;
}

#lightbox {
  margin: auto;
  width: 75vw;
  height: 80vh;
  max-width: 1080px;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#lightbox__right-side {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#lightbox__close-lightbox {
  position: absolute;
  top: .5rem;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

#lightbox__close-lightbox img {
  width: 30px;
  height: 30px;
}

#lightbox__media-container {
  width: 100%;
  height: 100%;
}

#lightbox .lightbox__media {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-right: 4px solid grey;
  border-radius: 5px;
}

#lightbox .lightbox__description {
  padding-top: .3rem;
  font-size: 1.5rem;
  color: #901c1c;
}

#lightbox__left-arrow, #lightbox__right-arrow {
  cursor: pointer;
  border: none;
  background: transparent;
}

#lightbox__left-arrow img {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: 38px;
  height: 38px;
}

#lightbox__right-arrow img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 38px;
  height: 38px;
}

/*--  PRICE PER DAY --*/
#price-container {
  position: fixed;
  z-index: 3;
  min-width: 265px;
  bottom: 0;
  right: 2.5rem;
  padding: 1rem 2rem .9rem;
  color: #181818;
  background-color: #db8876;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 2.2rem;
}

#total-likes,
#price {
  font-size: 1.2rem;
  font-weight: 500;
}

#total-likes {
  min-width: 63px;
}

#total-likes i {
  font-size: 1.1rem;
}

.hidden {
  display: none;
}

/*--  MEDIA QUERIES --*/
@media screen and (max-width: 1365px) {
  .header {
    width: 100%;
    max-width: 100%;
  }
  .header__logo-container {
    margin-right: 80%;
  }
  .header nav {
    width: 100%;
  }
  #main-title {
    top: -6.4rem;
  }
}

@media screen and (max-width: 1265px) {
  body {
    padding: 2.2rem 1.5rem 1rem;
  }
  #main-grid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 1160px) {
  #media-gallery {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 1160px) {
  .photographer-banner__name-block {
    width: 330px;
  }
}

@media screen and (max-width: 978px) {
  .photographer-banner__name-block {
    padding: 0;
  }
}

@media screen and (max-width: 865px) {
  .contact-button__container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: auto;
  }
  .contact-button__container .contact-button {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 790px) {
  #photographer-page__header {
    margin-bottom: 1rem;
  }
  #photographer-page__header .header__logo-container img {
    width: 150px;
  }
  .media {
    width: 280px;
    height: 230px;
  }
  .media__container {
    width: 280px;
  }
  .media__title {
    font-size: 1.15rem;
  }
  .media__likes .likes {
    font-size: 1rem;
  }
  .heart {
    top: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  #price-container,
  #order-by__section,
  .header__link {
    display: none;
  }
  .contact-button__container {
    position: fixed;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 170px;
    margin: 0 auto;
    bottom: 1.5rem;
  }
  .contact-button__container .contact-button {
    width: 100%;
    font-size: 1rem;
    margin: 0;
    padding: .5rem 0;
  }
  .photographer-banner {
    margin-top: 0;
  }
  .photographer-banner__img-container {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .photographer-banner__img-container .photographer__img {
    width: 100px;
    height: 100px;
  }
  .name-block__name {
    font-size: 2.3rem;
  }
  .name-block__location, .name-block__tagline,
  .name-block__taglist a {
    font-size: .9rem;
  }
  .name-block__tagline {
    padding-top: .3rem;
  }
  .name-block__taglist {
    padding-top: .7rem;
  }
}

@media screen and (max-width: 700px) {
  .opened__contact-modal {
    width: 100%;
    height: 100%;
  }
  #modal-padding {
    padding: 0;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}

@media screen and (max-width: 680px) {
  #main-grid {
    margin: 1.5rem 0;
    padding: 1rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav {
    line-height: 2.5;
  }
  #main-title {
    top: -9.2rem;
    right: 1rem;
  }
}

@media screen and (max-width: 636px) {
  #photographer-page__header .header__logo-container img {
    margin-left: .3rem;
  }
  .media {
    width: 100%;
    height: 300px;
  }
  .media__container {
    width: 75%;
  }
  .photographer-banner {
    padding: 0 1.2rem;
    margin-bottom: 3.5rem;
    background-color: #fff;
  }
}

@media screen and (max-width: 625px) {
  #main-title {
    font-size: 1.5rem;
    top: -11.2rem;
  }
  .header__logo-container img {
    width: 160px;
    height: 53px;
  }
  .header__nav {
    max-width: 570px;
  }
}

@media screen and (max-width: 565px) {
  .photographer-banner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .opened__contact-modal .modal__label {
    font-size: 1.5rem;
  }
  .opened__contact-modal .modal__input,
  .opened__contact-modal .invalid-message {
    font-size: 1rem;
  }
  .opened__contact-modal .invalid-message {
    margin-top: .2rem;
    padding: .2rem 0;
  }
  .opened__contact-modal #modal__name,
  .opened__contact-modal #modal__contact-me {
    font-size: 2.1rem;
  }
  .opened__contact-modal #modal__contact-me {
    padding: .3rem 0 .5rem;
  }
  .opened__contact-modal #user-msg {
    margin-bottom: 2rem;
  }
  .opened__contact-modal #close-modal {
    width: 20px;
    height: 20px;
  }
  .opened__contact-modal #close-modal img {
    max-width: 100%;
    height: auto;
  }
  .opened__contact-modal #submit-button {
    width: 165px;
    padding: .7rem 0;
    margin: 0 auto;
  }
  #validation__dialog {
    width: 90%;
  }
  #validation__message {
    font-size: 1.7rem;
    padding: 2.2rem 1rem 1.5rem;
  }
  #validation__close {
    width: 20px;
    height: 20px;
  }
  #validation__close img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  #photographer-page__header {
    padding-left: 0;
  }
  #media-gallery {
    row-gap: 1rem;
  }
  .media {
    width: 100%;
    height: 190px;
  }
  .media__container {
    width: 90%;
  }
  .media__title {
    font-size: .9rem;
  }
  .media__likes .likes {
    font-size: .8rem;
  }
  .heart {
    top: -6px;
    margin: .2rem;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .photographer-banner__img-container img {
    margin: 0;
  }
}

@media screen and (max-width: 475px) {
  body {
    padding: 2.2rem 0 1rem;
  }
  #main-title {
    font-size: .9rem;
    top: -10.9rem;
    right: 3rem;
  }
  #main-grid {
    row-gap: 2rem;
  }
  .header {
    padding: 0 1rem;
  }
  .header__logo-container img {
    width: 150px;
    height: 37px;
  }
}

@media screen and (max-width: 374px) {
  body {
    padding: 1.2rem 0 1rem;
  }
  .header {
    height: 200px;
    padding: 0;
  }
  .header__logo-container {
    margin: 0;
  }
  #photographer-page__header {
    height: auto;
  }
  #photographer-page__header .header__logo-container img {
    margin-left: -.5rem;
  }
  #main-title {
    top: -8.4rem;
    left: 1.7rem;
  }
  #main-grid {
    margin: 0;
  }
}

@media screen and (max-width: 345px) {
  #modal-padding {
    height: 100%;
  }
  .opened__contact-modal #modal__contact-me {
    padding: 2.8rem 0 .5rem;
  }
  .opened__contact-modal #modal__contact-me,
  .opened__contact-modal #modal__name {
    font-size: 1.8rem;
  }
  .opened__contact-modal .modal__input,
  .opened__contact-modal .invalid-message {
    font-size: .7rem;
  }
  .opened__contact-modal .modal__label {
    font-size: 1.3rem;
  }
  #validation__message {
    font-size: 1.4rem;
    padding: 2.2rem 0 1.5rem;
  }
}

@media screen and (max-width: 290px) {
  .header__nav {
    padding-top: 1.2rem;
  }
  .photographer__taglist {
    line-height: 2.1;
  }
}

@media screen and (max-width: 1024px) {
  #lightbox {
    width: 85vw;
    height: 60vh;
    gap: .7rem;
  }
  #lightbox__close-lightbox img,
  #lightbox__right-arrow img,
  #lightbox__left-arrow img {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 800px) {
  #lightbox {
    width: 85vw;
    height: 50vh;
    gap: .7rem;
  }
  #lightbox__close-lightbox img,
  #lightbox__right-arrow img,
  #lightbox__left-arrow img {
    width: 18px;
    height: 18px;
  }
  #lightbox .lightbox__media {
    border: none;
  }
  #lightbox .lightbox__description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #lightbox {
    width: 85vw;
    height: 33vh;
    gap: .5rem;
  }
  #lightbox__close-lightbox img,
  #lightbox__right-arrow img,
  #lightbox__left-arrow img {
    width: 15px;
    height: 15px;
  }
  #lightbox .lightbox__media {
    border: none;
  }
  #lightbox .lightbox__description {
    font-size: .9rem;
  }
}
/*# sourceMappingURL=style.css.map */